<!DOCTYPE html>
<head>
    <link rel="icon" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  

    <title>
        Mates Search | Log in
    </title>
    <link rel="stylesheet" href="./styles.css" type="text/css"/>

</head>
<body>
    <div class="login-img-box">
        <img class="login-img-right" src="home1.jpg">
    </img>
    </div>
    <div class="login-form-box">
    <nav>
        <ul>
<li>
<div class="login-page-title">
    <img style="width: 30px;height: 30px;" src="logo.png">
    <i>Mates Search</i>
</div>
</li>
<div class="login-box-right">
<li><select>
    <option>ENG</option>
    <option>KISW</option>
</select>

</li>
<li><a href="">Sign up</a></li>
</div>
        </ul>
    </nav>
  <form class="login-form">
      <p class="login-form-intro-text">Your soul mate awaits you</p>
      <p class="login-form-intro">Sign in to your Account</p>
      <div class="login-username">
      <label for="login-user-id">
    Username  
    </label>
    <input type="text" id="login-user-id" placeholder="Enter your username" required></input>
    </div>
  <div class="login-password">
      <label for="login-pwd-id">
          Password
          </label>
          <input maxlength="8" type="password" id="login-pwd-id" placeholder="Enter your password" required></input>
      
  </div>
  <div class="login-remember">
      <input type="checkbox"></input>
      <p>Remember me</p>

  </div>
  <button type="submit" class="login-btn">Log in</button>
  </form>
</div>
</body>
</html>