<!DOCTYPE html>

{% block content %} <!--Where everything begins - similar to start of a program-->



{% load static %} 
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  

    <title>{% block title %}Mates Search | Login{% endblock %}</title><!--Title of the base file-->

    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}" type="text/css"><!--Stylesheet for home.html in static folder-->
   
</head>
<body>

    <div class="login-img-box">
        <img class="login-img-right" src="{% static 'images/home1.jpg' %}">
    </img>
    </div>
    <div class="login-form-box">
    <nav>
        <ul>
<li>
<div class="login-page-title">
    <img style="width: 30px;height: 30px;" src="{% static 'images/logo.png' %}">
    <i>Mates Search</i>
</div>
</li>
<div class="login-box-right">
<li><select>
    <option>ENG</option>
    <option>KISW</option>
</select>

</li>
<li><a href="{% url 'register' %}">Sign up</a></li>
</div>
        </ul>
    </nav>
  <form class="login-form">
      {% csrf_token %}
      <p class="login-form-intro-text">Your soul mate awaits you</p>
      <p class="login-form-intro">Sign in to your Account</p>
      <div class="login-username">
      <label for="username">
    Username  
    </label>
    <input type="text" name="username" placeholder="Enter your username" required></input>
    </div>
  <div class="login-password">
      <label for="password">
          Password
          </label>
          <input maxlength="8" type="password" name="password" placeholder="Enter your password" required></input>
      
  </div>
  <div class="login-remember">
      <input type="checkbox"></input>
      <p>Remember me</p>

  </div>
  <button type="submit" class="login-btn" onclick="window.location='app/discover'">Log in</button>
  </form>
</div>

</body>
{% endblock %}
</html>