 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    color: black;
    background-color: #fff;
    padding: 11px 2%;
    position: sticky;
    top: 0;
    z-index: 100;

} 
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 5px;
    flex-direction: row;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    
}

.discover-cont,.messages-cont,.activities-cont,.search-cont,.notifications-cont{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.nav-bar-inner{
    margin-top: 5px;
}
.discover-cont>a,.messages-cont>a,.activities-cont>a,.search-cont>a,.notifications-cont>a{
font-size: 13px;
text-decoration: none;
} 
.img-nav{
    width: 20px;
    height: 20px;
}


.nav-bar-inner{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.menu-links{
    width: 70%;
}
.logo{
    width:40px;
    height: 40px;
}

.notifications-bar{
    position:absolute;
    top:50px;
    padding: 2rem;
    right:400px;
    
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
    width: 200px !important;
    
    
    
    
    
    
    display: flex;
    flex-direction: column;
     align-items: center;
    
    color: #011627;

}
.menu-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile-cont{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    border-radius: 50%;
    height:50px

}
.body {
     /* height: 100vh; */
    background-color: rgb(214, 210, 210);
}


.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    background: rgb(242, 247, 243);
    flex-basis: 25%;
    top: 70px;
    align-self: flex-start;
    border-radius: 9px;
    position: sticky;
    /* height: 100vh;x */
   
}

.right-sidebar {
    background: rgb(242, 247, 243);
    flex-basis: 25%;
    top: 70px;
    align-self: flex-start;
    position: sticky;
    border-radius: 9px;
    /* text-decoration: black; */
    padding: 20px;
    /* height: 100vh; */
    /* color: rgb(10, 10, 10); */
}

.main-content {
    flex-basis: 47%;
}

.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: #626262;
    width: fit-content;
    align-items: center;
    margin-left: 25px;

}

.imp-links a img {
    color: #dd6595;
    width: 35px;
    margin-right: 30px;
    padding: 5px;
}

.imp-links a:last-child {
    color: cadetblue;
}

.imp-links {
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
}

.shortcut-links a img {
    border-radius: 4px;
    width: 40px;
    margin-right: 15px;
    color: #dd6595;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
    margin-left: 30px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;

}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #dd6595;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #dd6595;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5;
}
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 22%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border : 5px solid #dd6595;

}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story1{
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-1.png);
}
.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-2.png);
}
.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-3.png);
}
.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-4.png);
}
.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-5.png);
}
.story6 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-6.png);
}
.story7 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)) url(images/status-7.png);
}

p {
    padding: 100;
    justify-content: right;
    flex: 9;
}

.write-post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile {
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px ;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;

}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;

}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #dd6595;
    text-decoration: none;

}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
    @media screen and (max-width: 500px) {
        /* the header here should be set to only show it's icons */
        /* .footer{
          float: none;
          display: none ;
        }
        .footer a{
          float: none;
          display: none;
        }
        .footer p{
          float: none;
          display: none;
        } */
    
      } 
      