body{
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-bar{
    display: flex;
   align-items: center;
   justify-content: center;
 
height: 60px;
padding: 5px;
flex-direction: row;
box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

}
.discover-cont,.messages-cont,.activities-cont,.search-cont,.notifications-cont{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.nav-bar-inner{
    margin-top: 5px;
}
.discover-cont>a,.messages-cont>a,.activities-cont>a,.search-cont>a{
font-size: 13px;
margin-top: 3px;
text-decoration: none;
color: black;

} 
.notifications-cont>a{
    color: #dd95dd;
    font-size: 13px;
margin-top: 3px;
text-decoration: none;

}

.img-nav{
    width: 20px;
    height: 20px;
}

.nav-bar-inner{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.menu-links{
    width: 70%;
}
.logo{
    margin: auto;
    width:40px;
    height: 40px;
}
.notification-dot{
    width:20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center;

margin-left: 14px;
}
.notifications-bar-inner{
    width: 100%;
    color: black;
    padding: 5px;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
   
}
.notifications-bar-outer{
    background-color: white;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    min-height: 400px;
    align-items: flex-start;
    padding: 10px;


   height: auto;
}.notifications-title-outer{
    font-weight: 500;
}
.notification-title{
    color: black;
    font-weight: bold;
}
.notification-time{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
}
.hr-line{
    width: 100%;
    height: 2px;}
.notification-timesent{
   
  
    font-size: 10px;
    color: gray;
    font-weight: 600;
    
}
.notification-details{
    color: black;
    
    font-weight: 500;
    font-size: 13px;

}
.notifications-bar{
    position:absolute;
    top:50px;
    padding: 2rem;
    right:400px;
    height: auto;
    min-height: 200px !important;
    
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
    width:400px !important;

    
    
    
    
    
    
    display: flex;
    flex-direction: column;
     align-items: center;
    
    color: #011627;

}
.menu-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
  
    background-color: rgb(214, 210, 210);
}
.profile-cont{
    border: 1px solid gray;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width:50px;
    border-radius: 50%;
    height:50px

}

.notification-cont{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;  display: flex;
padding: 3px;
    flex-direction:row ;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    height: 40px;
    margin-top: 3px;
    justify-content: space-between;
    align-items: center;
}
.notification-cont:hover{

   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: white;
    text-align: center;
    justify-content: flex;
    } 
     .footer a {
      float: left;
      color: black;
      text-align: right;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 10px;
      border-radius: 10px;
    }
    .footer p {
      text-align: center;
      color: black;
      font-size: 12px;
      line-height: 10px;
      border-radius: 10px;
    }
    @media screen and (max-width: 768px) {
        /* the header here should be set to only show it's icons */
        .footer{
          float: none;
          display: none ;
        }
   
        .footer a{
          float: none;
          display: none;
        }
        .footer p{
          float: none;
          display: none;
        }
        .menu-links{
            display: none !important;
        }
        .nav-bar-inner{
            width: 90%;

        }
        .notification-dot{
           
            margin-right: 36px;
        }
        .notifications-bar{
            right: 100px;
        }
        .notifications-bar-outer{
            width: 90%;
        }
      }