<!DOCTYPE html>

{% block content %}





{% load static %} 
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/default-page.css' %}">
    <title>Mates Search</title>
</head>
<body>
    <section id="header">
    <div class="header">
        <a href="#default" class="logo">Meet</a>
        <div class="header-right">
          <a class="active" href="#home">People</a>
          <a href="#contact">Contact</a>
          <a href="#notifications">Notifications</a>
          <a href="#search ">Search</a>
          <a href="#profile">Profile</a>
        </div>
      </div>
    </section>

	<!--Footer section-->
	
	<section id="footer">
    <div class="footer">
        <a href="#default" class="logo">Meet</a>
        <div>
            <p> Copyright © 2022 Mate Inc, All rights reserved </p>
            </div>
       
         
    </div>
</section>
	
	<!-- End of footer section--> 
</body>
{% endblock content %}%}

</html>



