<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %} 


{% load static %}

<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mates Search || Meet Jovial {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/discover.css' %}" type="text/css">
</head>
<body>
   
    

    <!-- --------- Theee  main nav------ -->
    <nav>
        <div class="nav-bar">
            <div class="nav-bar-inner">
                <div class="animate-top">
                <div class="logo-img">
                    <img class="logo"src="{% static 'images/logo.png'%}">
                </div>
                </div>
                <div class="menu-links">
                <div class="discover-cont">
            <img class="img-nav" src="{% static 'images/discover.png'%}"/>
        <a href="{% url 'discover'%}"  style="color:#dd6595" >Discover</a>
                    </div>
                    <div class="messages-cont">
                            <img class="img-nav" src="{% static 'images/messages.png'%}"/>
        <a  href="#"style="color: black;">Messages</a>
                    </div>
                    <!-- <div class="activities-cont">
                          <img class="img-nav" src="{% static 'images/activity.png'%}"/>
                        <a href="#" style="color: black;">Activities</a>
                    </div> -->
                    <div class="search-cont">
                        <img class="img-nav" src="{% static 'images/search.svg'%}"/>
                        
        <a href="#" style="color: black;">Search</a>
                    </div>
                    <div class="notifications-cont">
                    
                            <img class="img-nav" src="{% static 'images/notification.png'%}"/>
                        <a href="{% url 'notifications'%}" style="color: black;">Notifications</a>
                    </div>
        
                </div>
                <div class="profile-cont online">
                    <img class="img-nav" src="{% static 'images/profile.png'%}"/>
                    <!-- <div class="nav-user-icon ">
                        <img src="{ % static 'images/profile-pic.png' %}" >
                    </div> -->
        
                </div>
            </div>
        
        </div>
        </nav>

    <!--  --------------- End of theeeee main nav --------------  -->
    
   
    <div class="body">
    <div class="container">
        <!--  --------left-sidebar ----------- -->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="https://img.icons8.com/fluency/48/000000/user-group-man-man.png" />Friends</a>
                <a href="#"><img src="https://img.icons8.com/color/48/000000/rss.png" />Latest news</a>
                <a href="#"><img src="https://img.icons8.com/color/48/000000/groups.png" />Groups</a>
                <a href="#"><img src="https://img.icons8.com/fluency/48/000000/shopping-cart-with-money.png" />marketplace</a>
                <a href="#"><img
                    src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-tv-100-most-used-icons-flaticons-flat-flat-icons-2.png" />Watch</a>
                <a href="#">See More</a>
            </div>
            <div class="shortcut-links">
                <p>Your shortcuts</p>
                <a href="#"><img src="{% static 'images/sugar.png' %}" alt="">Sugars</a>
                <a href="#"><img src="{% static 'images/sweet.png' %}" alt="">Sweets</a>
                <a href="#"><img src="{% static 'images/honey.jpeg' %}" alt="">Honeys</a>
                <a href="#"><img src="https://img.icons8.com/emoji/48/000000/hugging-face.png"/>Buddies</a>
            </div>
        </div>


         <!--  --------main-sidebar ----------- -->
        <div class="main-content">
             <div class="story-gallery">
                <div class="story">
                    <img src="{% static 'images/upload.png' %}" >
                    <p>Post Story</p>
                </div>
                <div class="story story1">
                    <img src="{% static 'images/upload.png' %}">
                    <p>User.name</p>
                </div>
                <div class="story story2">
                    <img src="{% static 'images/upload.png' %}">
                    <p>User.name</p>
                </div>
                <div class="story story3">
                    <img src="{% static 'images/upload.png' %}">
                    <p>User.name</p>
                </div><div class="story story4">
                    <img src="{% static 'images/upload.png' %}">
                    <p>User.name</p>
                </div>

                <div class="story story5">
                    <img src="{% static 'images/upload.png' %}">
                    <p>x</p>
                </div>
                <div class="story story6">
                    <img src="{% static 'images/upload.png' %}">
                    <p>pamela</p>
                </div>
            </div>        
             <!-- ------- this story feature is not a must--------------- -->
        
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="{% static 'images/profile-pic.png' %}" >
                    <div>
                        <p>John Nichola</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>

                <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?"></textarea>
                    <div class="add-post-links">
                        <a href="#"> <img src="{% static 'images/live-video.png' %}">Live Video </a>
                        <a href="#"> <img src="{% static 'images/photo.png' %}"> Photo/video</a>
                        <a href="#"> <img src="{% static 'images/feeling.png' %}">Feeling</a>
                    </div>            
                </div>
            </div>
            <div class="post-container">
                <div class="user-profile">
                    <img src="{% static 'images/profile-pic.png' %}">
                    <div>
                        <p>John Nichola</p>
                        <span>June 24 2022, 13:40pm </span>
                    </div>
                </div>
                <p class="post-text">Yow!! <span>Mates_Search</span> IN development <a href="#"> Mates_Search</a> </p>
                <img src="{% static 'images/feed-image-1.png' %}" class="post-img">
                <div class="post-row">
                    <div class="activity-icons">
                        <div> <img src="{% static 'images/like-blue.png' %}" alt=""></div>
                        <div> <img src="{% static 'images/pass.png' %}" alt=""></div>
                    </div>
                    <div class="post-profile-icon">

                    </div>
                </div>
            </div>
        </div>


         <!--  --------subject to change::right-sidebar ----------- -->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Event</h4>
                <a href="#" style="color: #dd6595;">See all</a>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>

                <div class="right-event">
                    <h4>Socials</h4>
                    <p>Wills tech stack</p>
                    <a href="#">More info</a>
                </div>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>22</h3>
                    <span>June</span>
                </div>

                <div class="right-event">
                    <h4>Alpha Vibe</h4>
                    <p>vibrace</p>
                    <a href="#">More info</a>
                </div>
            </div>
            <div class="sidebar-title">
                <h4>Advertisement</h4>
                <a href="#" style="color: #dd6595;">Close</a>
            </div>
            <img src="{% static 'images/advertisement.png' %}" class="sidebar-ads">
        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#" style="color: #dd6595;">Hide chat</a>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="{% static 'images/member-1.png' %}">

            </div>
            <p>Alison Mina</p>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="{% static 'images/member-2.png' %}">
        
            </div>
            <p>Alisteir Rahab</p>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="{% static 'images/member-3.png' %}">
        
            </div>
            <p>Diane Dina</p>
        </div>
        </div>
    </div>
</div>
    <!--Footer section-->
	
<!-- <section id="footer">
    <div class="footer">
        <a  href="{% url 'discover'%}"  class="logo" ><i style="color: #dd6595;">Meet</i></a>
        <div>
            <p> Copyright © 2022 Mate Inc, All rights reserved </p>
            </div>
       
    </div>
</section>
	 -->
	<!-- End of footer section--> 
    <a target="_blank" href="https://icons8.com/icon/I65PXTJWBC7v/notification"></a>
    
</body>
{% endblock %}
</html>
