<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %} <!--Where everything begins - similar to start of a program-->



{% load static %} 
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" />
   
    <title>{% block title %} Mates Search {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}" type="text/css"><!--Stylesheet for home.html in static folder-->
   
</head>
<body>

<div class="nav-bar">
    <div class="nav-bar-inner">
        
        <div class="logo-img">
            <img class="logo"src="{% static 'images/logo.png'%}">
        </div>
        
        <div class="menu-links">
        <div class="discover-cont">
    <img class="img-nav" src="{% static 'images/discover.png'%}"/>
    <a href="{%url 'notifications'%}">Discover</a>
              
            </div>
            <div class="messages-cont">
                    <img class="img-nav" src="{% static 'images/messages.png'%}"/>
                    <a href="{%url 'notifications'%}">Messages</a>
              
            </div>
            <!--<div class="activities-cont">
                  <img class="img-nav" src="{% static 'images/activity.png'%}"/>
                <p>Activities</p>
            </div>-->
            <div class="search-cont">
                <img class="img-nav" src="{% static 'images/search.svg'%}"/>
                
                <a href="{%url 'notifications'%}">Search</a>
              
            </div>
            <div class="notifications-cont">
            
                    <img class="img-nav" src="{% static 'images/notifications2.png'%}"/>
                    <a href="{%url 'notifications'%}">Notifications</a>
                </div>

        </div>
        <div onclick="changeLocation()" class="profile-cont">
            <img class="img-nav" src="{% static 'images/profile.png'%}"/>

        </div>
    </div>

</div>


<div class="body">
    <div class="notifications-bar-outer">
        <p class="notifications-title-outer">Notifications</p>
    <div id="notificationsbarinner" class="notifications-bar-inner">

    </div>
  
</div>
        
    
</div>


</div>
<!--Footer section-->
<!--	
<section id="footer">
    <div class="footer">
        <a href="{% url 'home'%}" class="logo-footer"><i style="color:#dd6595">Meet</i></a>
        <div>
            <p> Copyright © 2022 Mate Inc, All rights reserved </p>
            </div>
       
    </div>
</section>
-->
	<!-- End of footer section--> 
</div>
<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script>

    const notificationdiv = document.getElementById("notificationsbarinner");
   
   
    const createnotification = (notification) => {
        var today = new Date();
        
        var date_tf = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        console.log(notification.sentTime.substr(0,2))
        
        if(notification.length!=0){
        let timelocale = "";
        if(notification.sentTime.substr(0,2)<12){
            timelocale = "AM";
        }else{
            timelocale = "PM";
        }
            return `
            <div class="animatebottom1">
            <div class="notification-cont">
              
                <div class="notification-dot">
                    <img style="width:20px;height:20px"src={%static 'images/tick.png'%}/>
                    </div>
 
             <p class="notification-details">${notification.details}</p>
             <div class="notification-time">
            <p class="notification-timesent">${moment(notification.date).format("MMM Do YY")}</p>
             <p class="notification-timesent">${notification.sentTime.substr(0,5)+timelocale}</p>

             </div>
             </div>
          
             <div class="hr-line"></div>
            </div>
             `
        }
        else{
            return ` <p>no notifications</p>`
        }

    };
    const displayNotification = ()=>{
        fetch('http://127.0.0.1:8000/app/notifier/')
  .then(response => response.json())
  .then(data =>{
    console.log(data)
    const notifications = data.map(notification=>createnotification(notification)).join('')
        
        notificationdiv.innerHTML = notifications
       
  }).catch(err=>console.log("an error occured"+err));

      

 
    };
    displayNotification()
    console.log(notificationdiv.innerHTML)

function changeLocation(){
    window.location ="/app/profile/"
}
</script>
</body>
{% endblock %}
</html>