<!DOCTYPE html>
<!--profile data after a search or link-->
{% extends 'base.html' %}
{% block content %} <!--Where everything begins - similar to start of a program-->



{% load static %} 
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    
    <title>{% block title %}Mates Search | Profile{% endblock %}</title><!--Title of the base file-->

    <link rel="stylesheet" href="{% static 'css/profile2.css' %}" type="text/css">

</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-inner">
            
            <div class="logo-img">
                <img class="logo"src="{% static 'images/logo.png'%}">
            
            </div>
            <div class="menu-links">
            <div class="discover-cont">
        <img class="img-nav" src="{% static 'images/discover.png'%}"/>
        <a href="{%url 'notifications'%}">Discover</a>
               
                </div>
                <div class="messages-cont">
                        <img class="img-nav" src="{% static 'images/messages.png'%}"/>
                        <a href="{%url 'notifications'%}">Messages</a>
               
                </div>
                <!--<div class="activities-cont">
                      <img class="img-nav" src="{% static 'images/activity.png'%}"/>
                    <p>Activities</p>
                </div>-->
                <div class="search-cont">
                    <img class="img-nav" src="{% static 'images/search.svg'%}"/>
                    
                    <a href="{%url 'notifications'%}">Search</a>
               
                </div>
                <div class="notifications-cont">
                
                        <img class="img-nav" src="{% static 'images/notification.png'%}"/>
                    <a href="{%url 'notifications'%}">Notifications</a>
                </div>
    
            </div>
            <div  onclick="changeLocation()" class="profile-cont">
                <img class="img-nav" src="{% static 'images/profile.png'%}"/>
    
            </div>
        </div>
    
    </div>
    
    
<div class="profile-cont23">
    <div class="profile-cont-inner">
        <div class="profile-cont-inner2">
    <div class="profile-cont1">
        <div class="profile-image">
            <img class="profile-img" src="{% static 'images/profile.png'%}"/>
       <div class="edit-btn">
        <img class="msg-btn" src="{%static 'images/msg.png'%}"/>
               

       </div>
       <div class="love-btn">
        <img class="prof-love" src="{%static 'images/love.png'%}"/>
               

       </div>

       <div class="x-btn">
        <img class="x-btn-img" src="{%static 'images/x.png'%}"/>
               

       </div>
        </div>
        <div class="profile-user-account">
            <p class="profile-usrname">@{{userreq.username}}</p>
            <div class="online-cont">

            </div>
            <p class="online-status">Online</p>
       

        </div>
        <div class="profile-logout-btn2">
            <a class="btn btn-danger" href="{% url 'logout' %}">Interests</a>
              <div class="profile-interests-cont">
                <div class="profile-interest-little"><p>jogging</p></div>
                <div class="profile-interest-little"><p>jogging</p></div>
                <div class="profile-interest-little"><p>jogging</p></div>
     
                <div class="profile-interest-little"><p>jogging</p></div>
     
                </div>
         </div>
        
    </div>
    
    <div class="profile-owner-details">
        
        <div class="profile-share-btn">
            <p>About</p>
            <p></p>
       

        </div>
        <div class="profile-about">
            {% if founduser.about %}
            <p>{{founduser.about}}</p>
            {% else %}
            <p>I'm John Doe an undergrad studying Medicine at the University of Kilifonia.I'm looking for a financially stable woman aged 24-30.</p>
         {% endif %}
        </div>
        <div class="profile-logout-btn">
           <a class="btn btn-danger" href="{% url 'logout' %}">Interests</a>
             <div class="profile-interests-cont">
               <div class="profile-interest-little"><p>jogging</p></div>
               <div class="profile-interest-little"><p>jogging</p></div>
               <div class="profile-interest-little"><p>jogging</p></div>
    
               <div class="profile-interest-little"><p>jogging</p></div>
    
               </div>
        </div>
   

    </div>
    </div>
    <div class="profile-personal-details">
        <div class="profile-personal-cont1">
            <div class="location-cont">
                <img class="profile-mini-imgs" src="{%static 'images/location.png'%}"/>
                <p>{{founduser.location}}</p>
            </div>
            <div class="email-cont">
                <img class="profile-mini-imgs" src="{%static 'images/mail.png'%}"/>
               
                <p>{{userreq.email}}</p>
            </div>
            <div class="height-cont">
                <img class="profile-mini-imgs" src="{%static 'images/height.png'%}"/>
               
                <p>{{founduser.height}}</p></div>
            <div class="university-cont">
                <img class="profile-mini-imgs" src="{%static 'images/dob.png'%}"/>
               
                <p>{{founduser.age}}</p></div>

        </div>
        <div class="profile-personal-cont2">
            <div class="location-cont">
                <img class="profile-mini-imgs" src="{%static 'images/phone.png'%}"/>
               
                <p>{{founduser.phone_number}}</p>
            </div>
            
            <div class="height-cont">
                <img class="profile-mini-imgs" src="{%static 'images/bino.png'%}"/>
               
                <p>{{founduser.status}}</p></div>
            <div class="university-cont">
                <img class="profile-mini-imgs" src="{%static 'images/university.png'%}"/>
               
                <p>{{userreq.university}}</p></div>
                <div class="university-cont">
                    <img class="profile-mini-imgs" src="{%static 'images/gender.png'%}"/>
                   
                    <p>{{userreq.gender}}</p></div>
        </div>
     
    </div>

</div>

</div>

    
</div>

<script>
    function changeLocation(){
    window.location ="/app/profile/"
}
</script>
</body>

{% endblock %}
</html>