<!DOCTYPE html>

{% block content %} <!--Where everything begins - similar to start of a program-->



{% load static %} 
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  

    <title>{% block title %}Mates Search | Sign-up{% endblock %}</title><!--Title of the base file-->

    <link rel="stylesheet" href="{% static 'css/sign-styles.css' %}" type="text/css"><!--Stylesheet for home.html in static folder-->
</head>
<body>
    <div class="login">
        <nav >
            <ul>
                <li>
                    <div class="page-title">
                    <img style="width:30px;height:30px" src="{% static 'images/logo.png' %}"/>
                    <i>Mates Search</i>
                </div>
                </li>

                <div class="language-login-cont">
                <li>
                    <select >
                        <option>EN</option>
                        <option>Kisw</option>
                    </select>
                </li>
                <li><a href="{% url 'login' %}">Log in</a></li>
            </div>
                </ul>
        </nav>
        <form class="login-cont" method="POST">
            {% csrf_token %}
        
            <p class="login-cont-intro">
                Long-term relationships with like minded people
            </p>
        
            <p class="login-cont-intro-account">
               Create New Account
            </p>
            {{ form.as_p }}
            <div class="username-cont">
            <label for="username">*Your Username</label>
            <input placeholder="Enter your Username" name="username" class="login-name" required>
        </input>
    </div>
    <div class="university-cont">
        <label for="password">*Password</label>
            <input type="password" maxlength="8" placeholder="Enter your Password" name="password" class="login-name" required>
        </input>
   </div>
   
  <div class="email-cont">
        <label for="email">*Your Email</label>
            <input placeholder="Enter your Email" email="email" class="login-name" required>
        </input>
    </div>
    <div class="university-cont">
        <label for="university">*Your University</label>
            <input placeholder="Enter your University" id="university" class="login-name" required>  
        </input>
    </div>
    <div class="gender-cont">
   <div class="gender-cont-select">
    <label for="login-input-gender-id">Your Gender</label>
       
   <input type="radio" class="login-input-gender-class" id="login-input-gender-id" value="Male" class="login-name" >
        Male
    </input required>
    <input type="radio" class="login-input-gender-class"id="login-input-gender-id" value="Female" >
    Female
</input required> 
</div>
</div>
    
        <div class="agree-terms">
<input type="checkbox" value="1" required></input>
<p>Agree to our Terms and Conditions.Verify that you are 18 years and above.</p>
</div>
<button type="submit" class="continue-btn" type="submit" onclick="window.location='app/discover'">Continue</button>
   
</form>
    </div>
    <div class="img-box">
        <img src="{% static '/images/dates.jpg'%}" class="img-dates"/>
    </div>

</body>
{% endblock %}
</html>
